{% extends "AppCoder/padre.html" %}


{% load static %}

    {% block contenido2 %}
    <h1 class="mb-1"> Editar un jugador </h1>
    {% endblock %}

    {% block contenido3 %}
     Formulario Estadio  
    {% endblock %}


 <!-- Cuando ponemos lenguaje python en html ponemos entre dos llaves y porcentajes -->

    {% block contenido %}

        {% if miFormulario.errors %}

        <p style="color: red"> ERROR </p>
        
        {% endif %}

    <!-- Aca voy poniendo lo distinto que quiero que aparezca solo en estadioFormulario!! -->

    <form action="" method="POST"> {% csrf_token %}
        
        <!-- Asi lo hicimos la primera vez sin la ayuda de Django
        <p> Direccion: <input type="text" name="direccion"> </p>

        <p> Anio: <input type="number" name="anioFund"> </p>

        <input type="submit" value="Enviooo">

        -->

        <table>

            {{  miFormulario.as_table  }}



        </table>
        

        <input type="submit" value="Editar">



    </form>


    {% endblock %}


