<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    
<FORM action="" method="POST"> {% csrf_token %}

    <!--LOS FORMULARIOS SE HACEN LLAMANDO A LOS FORM, ENTRE LLAVES LO PONES.
        LO PODES HACER COMO TABLA O COMO PARRAFO, ESAS ES LA DIFERENCIA ENTREñ
        form.as_p
        form.as_table 
        o sea es casi lo mismo,creo que queda mejor como parrafo pero es una pavada!   
    -->

    {{ form.as_p }}

    <INPUt type="submit" value="LOGIN - Iniciar sesion!"></INPUt>

    <!--TODOS LOS FORMUALRIOS TIENEN UN INPUT (SINO NO TIENE SENTIDO HACER UN FORMULARIO) -->

</FORM>

</body>
</html>